{
    'env': {
      'browser': true,
    },
    'extends': 'eslint:recommended',
    'globals': {
      'Debugger': 'true',
      'DragElement': 'true',
      'HTML5FileAPIManager': 'true',
      'ImageHandler': 'true',
      'IndexedDBManager': 'true',
      'IndexedDBP': 'true',
      'LocalStorageManager': 'true',
      'LOCALSTORAGEOBJECT': 'true',
      'OnLoad': 'true',
      'Promise': 'true',
      'Settings': 'true',
      'SettingsButton': 'true',
      'UserMonitor': 'true'
    },
    'parserOptions': {
      'ecmaVersion': 9,
      'sourceType': 'script',
    },
    'rules': {
      'indent': ['error', 2]
    }
}
