.link-container {
  background-color: lightgrey;
  border: 1px solid grey;
  overflow: hidden;
  padding: 20px;
  position: absolute;
  z-index: 9;
}
.link-container-drag-section {
  background-color: grey;
  cursor: move;
  float: left;
  height: 30px;
  width: 30px;
  z-index: 10;
}

.addLinkTextFieldUrl {
  height: 100%;
  overflow: hidden;
}

.addLinkTextFieldCommonName {
  height: 100%;
  overflow: hidden;
}

.addLinkButton {
  float: right;
  height: 100%;
  overflow: hidden;
}
