.body {
  /* dash preceeds alphanumerics */
  -moz-background-size: cover;
  -o-background-size: cover;
  -webkit-background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 100%;
  margin: 0;
  overflow: hidden;
  width: 100%;
}

.content-container {
  height: 100%;
  width: 100%;
}

.settings-button {
  bottom: 0;
  opacity: .5;
  position: absolute;
  right: 0;
}

.settings-button:hover {
  cursor: pointer;
}

.settings-button-image {
  height: 50px;
  width: 50px;
}

.settings-container {
  background-color: white;
  display: none;
  padding: 10px;
}
