.search-container {
  background-color: lightgrey;
  height: 30px;
  padding: 20px;
  position: absolute;
  z-index: 9;
}
.search-container-drag-section {
  background-color: grey;
  cursor: move;
  float: left;
  height: 100%;
  width: 30px;
  z-index: 10;
}

.search-input {
  height: 100%;
}

.search-input-button {
  height: 100%;
  margin: 0;
}
